.cm-s-webpacktogether.CodeMirror {
  height: 100%;
  font-weight: 500;
  font-family: Monaco;
  font-size: 13px;
  background: #EFF1F5;
  color: #BEC0BB;
  overflow-y: auto;
  overflow-x: scroll;
  width: 50vw;
}

.cm-s-webpacktogether .CodeMirror-gutters {
  border-right: 0px;
  background: #EFF1F5;
}

.CodeMirror-gutter-wrapper {
  font-size: 12px;
  font-weight: 500;
  margin-top: 1px;
}

.cm-s-webpacktogether div.CodeMirror-selected {
    background: #dfe1e8 !important;
}

.cm-s-webpacktogether.CodeMirror pre {
  padding-left: 10px;
  padding-right: 10px;
}

.cm-s-webpacktogether .CodeMirror-cursor {
    border-left: 1px solid #4f5b66 !important;
}

.cm-s-webpacktogether span.cm-comment {
    color: #a7adba;
}

.cm-s-webpacktogether span.cm-keyword {
  color: #96b5b4;
}

.cm-s-webpacktogether span.cm-def {
  color: #DAC58A;
}

.cm-s-webpacktogether span.cm-string {
  color: #a3be8c;
}

.cm-s-webpacktogether span.cm-variable {
  color: #bf616a;
}

.cm-s-webpacktogether span.cm-property {
  color: #BE616A;
}

.cm-s-webpacktogether span.cm-tag {
  color: #bf616a;
}

.cm-s-webpacktogether span.cm-bracket {
  color: #4f5b66;
}

.cm-s-webpacktogether span.cm-attribute {
  color: #d08770;
}

.cm-s-webpacktogether span.cm-number, span.cm-atom {
  color: #96b5b4;
}
